#login-div {
    position: absolute;
    display: flex;
}

#login-div > div {
    margin: 20px;
    border: 20px;
    position: absolute;
}

#loginFormId,#registerFromId input, label {
    margin: 10px;
}